name: Publish

on:
  push:
    branches:
      # we publish to Test PyPI on pushes to the main branch
      - "main"
  create:
    tags:
      - "v*"

env:
  PYTHON_VERSION: '3.12'
  UV_VERSION: '0.5.6'

permissions:
  contents: read

concurrency:
  group: publish-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  prepare:
    if: github.repository == 'eclipse-csi/octopin' && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-22.04
    outputs:
      release-tag: ${{ steps.context.outputs.RELEASE_TAG }}
    steps:
      - name: "Setup context"
        id: context
        shell: bash
        run: |
          if [[ "${GITHUB_REF}" =~ ^refs/heads/.* ]]; then
            echo "RELEASE_TAG=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          else
            echo "RELEASE_TAG=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          fi

  build-dist:
    runs-on: ubuntu-22.04
    needs: ["prepare"]
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          ref: ${{ needs.prepare.outputs.release-tag }}
          persist-credentials: false

      - name: Setup uv and python
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: ${{ env.UV_VERSION }}
          python-version: ${{ env.PYTHON_VERSION }}
          enable-cache: true
          cache-dependency-glob: |
            pyproject.toml

      - name: "Install dependencies"
        run: uv sync

      - name: "Build package"
        run: uv build

      - name: "Generate hashes"
        id: hash
        run: |
          cd dist && echo "hashes=$(sha256sum * | base64 -w0)" >> $GITHUB_OUTPUT

      - name: "Upload dist"
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "dist"
          path: "dist/"
          if-no-files-found: error
          retention-days: 5

  provenance:
    needs: ['prepare', 'build-dist']
    permissions:
      actions: read
      contents: write
      id-token: write # Needed to access the workflow's OIDC identity.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0 # ignore: pin
    with:
      base64-subjects: "${{ needs.build-dist.outputs.hashes }}"
      upload-assets: true

  github-publish:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-22.04
    needs: ['prepare', 'build-dist', 'provenance']
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: "Download dists"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: "dist"
          path: "dist/"

      - name: "Extract release notes"
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@cae32133495112d23e3569ad04fef240ba4e7bc8 # v2.3.0
        with:
          changelog_file: docs/release-notes.md
          release_notes_file: RELEASE_NOTES.md

      - name: "Create GitHub release"
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        with:
          name: "Octopin ${{ needs.prepare.outputs.release-tag }}"
          tag_name: "${{ needs.prepare.outputs.release-tag }}"
          body_path: RELEASE_NOTES.md
          draft: false
          prerelease: false
          generate_release_notes: false
          make_latest: true
          files: dist/*

  pypi-publish:
    name: "Publish to PyPI"
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-22.04
    needs: ['build-dist', 'provenance']
    environment:
      name: pypi
      url: https://pypi.org/p/octopin
    permissions:
      id-token: write
    steps:
      - name: "Download dists"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: "dist"
          path: "dist/"

      - name: "Publish dists to PyPI"
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          attestations: true
          verbose: true

  test-pypi-publish:
    name: "Publish to Test PyPI"
    if: startsWith(github.ref, 'refs/heads/')
    runs-on: ubuntu-22.04
    needs: ['build-dist', 'provenance']
    environment:
      name: test-pypi
    permissions:
      id-token: write
    steps:
      - name: "Download dists"
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: "dist"
          path: "dist/"

      - name: "Publish dists to Test PyPI"
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/
          attestations: true
          verbose: true
